body{
    background:rgb(20, 20, 20,0.95);
    
}
header{
    background: 
   
    url('/images/121213.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition:1s ease-in-out ;
    
}

    header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right,transparent,rgb(14, 13, 13,0.5));
        z-index: 1;
        

    }
.searchbox{
    width: 0;
    transition: width 0.3s ease;
}

.searchboxenable{
    width: 160px;
    border: 1px solid gray;
    padding-left: 5px;


}
li{
    list-style: none;
}
.menubox{
    height: 0;
    transition: height 0.5s ease-in-out;
    background-color: rgb(2, 2, 2,0.5);
    z-index: 1;
}
.menuboxenable{

    height: 20vh;
    background-color: rgb(2, 2, 2,0.5);
    
}
.dots>div:nth-child(2){

    background-color: rgba(156, 156, 150, 0.5);
}
.dots>div:nth-child(3){

    background-color: rgba(156, 156, 150, 0.5);
}


.myswiperbutton{
    background-color: rgba(255, 0, 0);
    color: white;
    border-radius: 100px;
    padding: 0 8px 0 8px;
    cursor: pointer;
    transition: background-color .3s ease-in-out ;


}



.swiper-wrapper button:nth-child(1){
    margin-left: 50px;

}


.year{
   
    font-size: .75rem;
}

.rating{
    color: #FFD43B;
}
.red{
    background-color: rgb(86, 82, 82,0.5);
}
.volume:hover{
    color: gray ;
}

.visible{
    display: block;
}


 .card{
    min-width: 160px;
    /* min-width: 11% */
    height: 300px;
    color: white;
    
    


}
.card img{
    width: 100%;
    height: 70%;
    border-radius: 2px;
    object-fit: cover;
    cursor: pointer;
}
 .card:hover{
    transform: scale(1.1);
}
::-webkit-scrollbar{
    display: none;
}

@media (min-width:2158px) {
    .card{
        width: 20%;
    }
    
}
.arrowbutton::before{
    content: ' ';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgba(28, 27, 27, 0.5);
    border-radius: 100%;
    left: -5px;
    top: -1px;
    z-index: -1;
    

}
.arrowbutton:hover::before{
    background-color: rgb(167, 85, 85,.5);
}
.togglebox{
    display: none;
    
}
