body{
    background:rgb(20, 20, 20,0.95);
    
}
header{
    background: 
   
    url('/images/121213.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition:1s ease-in-out ;
    
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,transparent,rgb(14, 13, 13,0.5));
    z-index: 1;
    pointer-events: none;
  }
.searchbox{
    width: 0;
    transition: width 0.3s ease;
}

.searchboxenable{
    width: 160px;
    border: 1px solid gray;
    padding-left: 5px;


}
li{
    list-style: none;
}
.menubox{
    height: 0;
    transition: height 0.5s ease-in-out;
    background-color: rgb(2, 2, 2,0.5);
    z-index: 1;
}
.menuboxenable{

    height: 20vh;
    background-color: rgb(2, 2, 2,0.5);
    
}
.dots>div:nth-child(2){

    background-color: rgba(156, 156, 150, 0.5);
}
.dots>div:nth-child(3){

    background-color: rgba(156, 156, 150, 0.5);
}


.myswiperbutton{
    background-color: rgba(101, 99, 99, 0.5);
    color: white;
    border-radius: 100px;
    padding: 0 8px 0 8px;
    cursor: pointer;
    transition: background-color .3s ease-in-out ;


}


.swiper-wrapper button:nth-child(1){
    margin-left: 50px;

}
.mySwiper2 .swiper-slide{

    margin-left: 5px;
    height: 350px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    
}
.mySwiper2 .swiper-slide:hover{
    transform:scale(1.1)

   
}
.mySwiper2 .moviecontainer{
    height: 80%;
}
.mySwiper2 .swiper-slide img{
    border-radius: 10px;
    object-fit: fill;
    width: 100%;
    height: 90%;
}
.mySwiper2 .swiper-slide div> :nth-child(2){
    
    font-weight: bold;
    font-size: .85rem;

}
.year{
   
    font-size: .75rem;
}

.rating{
    color: #FFD43B;
}
.red{
    background-color: red;
}





@media (max-width:2000px) {

    .mySwiper2 img{
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
        height: 90%;
    }
    
}